<div class="container">
    <div class="header">
      <h1>Sign up</h1>
    </div>
    <div class="main">
      <form
      [formGroup]="registerForm"
      (ngSubmit)="register()"
      >
        <span>
          <i class="fa fa-user"></i>
          <input type="text" placeholder="Name" formControlName="name" /> 
          </span><br />
          <span>
              <i class="fa fa-envelope"></i>
              <input type="text" placeholder="Email" formControlName="email" /> 
            </span><br />
            <span>
          <i class="fa fa-lock"></i>
          <input type="Password" placeholder="Password" formControlName="password" /> 
          </span ><br />
        <span>
          <i class="fa fa-lock"></i>
          <input type="number" placeholder="Mobile Number" formControlName="mobile" /> 
        </span >
        <br />
        <button type="submit">Sign up</button>
        <!-- <p class="register">already Registered? <a href="./index.html">login</a></p> -->
      </form>
    </div>
  </div>
