.container {
	width: 380px;
	margin:7% auto;
	border-radius: 25px;
	background-color: rgb(255 255 255);
	box-shadow: 0 0 17px #313030;
	height:70vh;
}

.header {
	text-align: center;
	padding-top: 23px;
}

.header h1 {
	color: #c18da3;
	font-size: 45px;
	margin-bottom: 80px;
}

.main {
	text-align: center;
}

.main input, button {
	width: 300px;
	height: 40px;
	padding-left: 40px;
	box-sizing: border-box;
	font-size: 15px;
	color: #080812;
	margin-bottom: 40px;
}

.main button {
	padding-left: 0;
	background-color: #f8ccda;
	letter-spacing: 1px;
	font-weight: bold;
	margin-bottom: 70px;
	border: 2px;
}

.main button:hover {
	background-color: #ecbfd3;
}


.main span {
	position: relative;
}

.main i {
	position: absolute;
	left: 15px;
	color: #333;
	font-size: 25px;
	top: 2px;
}
.register{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75rem;
	margin-top: -55px;
}
.fa{
	color: #3e3e3e;
}