<div class="container">
    <div class="header">
      <h1>Login</h1>
    </div>
    <div class="main">
      <form
      [formGroup]="loginForm"
      (ngSubmit)="login()"
      >
        <span>
          <i class="fa fa-user"></i>
          <input type="text" placeholder="Username" formControlName="email" /> </span
        ><br />
        <span>
          <i class="fa fa-lock"></i>
          <input type="Password" placeholder="Password" formControlName="password" /> </span
        ><br />
        <button>Login</button>
        <p class="register">Not Registered? <a href="./register.html">Sign up</a></p>

      </form>
    </div>
  </div>