/* You can add global styles to this file, and also import other style files */
body {
	font-family: 'Pacifico', cursive;;	
	 background-image: url("/assets/pexels-marcel-kodama-2179424.jpg");
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: cover; 
}